.profile__intro{
    display: grid;
}
@media screen and (max-width: 650px){
    .profile__intro{
        grid-template-columns: repeat(2, auto);
        gap: 14px 10px;
    }
}
@media screen and (min-width: 650px){
    .profile__intro{
        grid-template-columns: repeat(2, auto);
        gap: 16px 18px;
    }
}